<form action="<%= @action %>" method="POST" enctype="multipart/form-data">
  <input type="hidden" name="access_token" value="<%= @access_token %>">
  <input type="file" name="imagedata">
  <input type="submit" value="アップロード">
</form>
